<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        background-color: #FFA500;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #FF8C00;
        color: white;
    }
    p{
        text-align: center;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #logoDiv{
        width: 5rem;
        height: 5rem;    
    }
    /* Styling for the second table */
    .order-table {
        margin-top: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-collapse: collapse;
    }
    .order-table th {
        background-color: #FF8C00;
        color: white;
    }
    .order-table td, .order-table th {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    </style>
</head>
<body>
    <h1>Order Confirmation</h1>
    <h2>Dear {{name}},</h2>
    <p>You've got tickets!</p>
    <p>Here is the QR Code to your event!</p>

    <img src="cid:image" alt="Image">
    
    <h2>Ticket Details</h2>
    <table>
    <thead>
        <tr>
        <th>Ticket Type</th>
        <th>Quantity</th>
        <th>Price with added discount</th>
        <th>Fee</th>
        <th>Total Ticket Price</th>
        </tr>
    </thead>
    <tbody>
        <% ticketArray.forEach((item) => { %>
            <tr>
            <td><%= item.ticketType %></td>
            <td><%= item.quantity %></td>
            <td><%= item.price %></td>
            <td><%= item.fee %></td>
            <td><%= item.totalPrice%></td>
            </tr>
        <%}); %>
    </tbody>
    </table>
    
    <h2>Order Details</h2>
    <table class="order-table">
        <tr>
            <th>Order Item</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Subtotal</td>
            <td>{{subTotal}}</td>
        </tr>
        <tr>
            <td>Fees</td>
            <td>{{fees}}</td>
        </tr>
        <tr>
            <td>Discount Amount</td>
            <td>{{discountAmount}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{total}}</td>
        </tr>
    </table>
    
    <div id="logoDiv"></div>
</body>
</html>
